name: macOS GUI
on: workflow_dispatch

jobs:
  gui-access:
    runs-on: macos-latest
    steps:
      - name: Install Bore
        run: brew install bore-cli

      - name: Enable Remote Management
        run: |
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -activate -configure -access -on -privs -all -restart -agent
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -configure -clientopts -setvncpasswd -vncpasswd Password123

      - name: Start Tunnel
        run: |
          bore local 5900 --to bore.pub &
          sleep 5
          
      - name: Connection Info
        run: |
          echo "Host: bore.pub"
          echo "VNC Password: Password123"
          sleep 21600
